<ion-app>
  
  <ion-menu side="start">
    
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Menu
        </ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-content>
      <ion-list>
        
        <ion-menu-toggle>
          <ion-item lines="none" [routerLink]="['/home','tabs','clients']" routerLinkActive="router-link-active" button>
            <ion-icon name="people" slot="start"></ion-icon>
            <ion-label>Clients</ion-label>
          </ion-item>
        </ion-menu-toggle>
        
        <ion-menu-toggle>
          <ion-item lines="none" [routerLink]="['/home','tabs','commandes']" routerLinkActive="router-link-active" button>
            <ion-icon name="briefcase" slot="start"></ion-icon>
            <ion-label>Commandes</ion-label>
          </ion-item>  
        </ion-menu-toggle>
        
        <ion-menu-toggle>
          <ion-item lines="none" [routerLink]="['/home','tabs','vitrine','profil']" routerLinkActive="router-link-active" button>
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label>Paramètres Profil</ion-label>
          </ion-item>
        </ion-menu-toggle>
        
        <ion-menu-toggle>
          <ion-item lines="none" [routerLink]="['/home','tabs','vitrine']" routerLinkActive="router-link-active" button>
            <ion-icon name="archive" slot="start"></ion-icon>
            <ion-label>Archives</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
            <ion-item lines="none"  button>
              <ion-icon name="stats" slot="start"></ion-icon>
              <ion-label>Statistiques</ion-label>
            </ion-item>
          </ion-menu-toggle>
        
        <ion-menu-toggle>
          <ion-item lines="none" (click)="onLogout()" button>
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>Déconnexion</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
