<ion-header style="text-align: center;">
  <ion-toolbar>
    <img src="assets/images/logo.png" height="270px" alt="" />
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1 style="text-align: center;font-weight:bold;">Mon profil</h1>
  <hr style="width: 60%;color: gray;height: 2px;background: #e71873">
  <form #f="ngForm" (ngSubmit)="auth(f)">
    <ion-grid>
      <ion-row>
        <ion-col >
          <ion-list>
            <ion-item>
              <ion-label position="floating">Prénom</ion-label>
              <ion-input type="text" ngModel name="prenom" required portable ></ion-input>

            </ion-item><br><br>
            <ion-item>
              <ion-label position="floating">Nom</ion-label>
              <ion-input type="text" ngModel name="nom" required portable ></ion-input>

            </ion-item><br><br>
            <ion-item>
              <ion-label position="floating">Portable</ion-label>
              <ion-input type="number" ngModel name="portable" required portable #portableCtrl="ngModel"></ion-input>

            </ion-item><br><br>
            <ion-item>
              <ion-label position="floating">Adresse</ion-label>
              <ion-input type="text" ngModel name="adresse"></ion-input>

            </ion-item>
            <br><br>
            <ion-item>
              <ion-label position="floating">Mot de passe</ion-label>
              <ion-input type="password" ngModel name="password" required minlength="6" #passwordCtrl="ngModel">
              </ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <br><br>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="dark" expand="block">
            Enregistrer
          </ion-button>
   
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>


</ion-content>
<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button color="none" style="background: #e71873;color:white;border-radius:100%;">
    <ion-icon name="arrow-dropleft"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="start">
    <ion-fab-button color="light" routerLink="/home">
      <ion-icon src="assets/images/home.svg" class="icon-home"></ion-icon>
    </ion-fab-button><ion-fab-button color="light" routerLink="/customer">
      <ion-icon src="assets/images/team.svg" class="icon-home"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light" routerLink="/order">
      <ion-icon src="assets/images/ecommerce.svg" class="icon-home"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light" routerLink="/profil">
      <ion-icon src="assets/images/user (1).svg" class="icon-home"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>