.icon-home{
    width: 80px;
    height: 80px;
}
.card-button{
    text-align: center;
    border: 1px solid #e71873;
    padding: 10px;
}
.title-button{

    font-size: 1.1rem;
    font-weight: bold;
}
.card-header{
    padding: 0;
}