<ion-header style="text-align: center;">
  <ion-toolbar>
    <img src="assets/images/logo.png" height="250px" alt="" />
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card class="card-button" routerLink="/customer">
          <ion-card-header class="card-header">
            <ion-icon src="assets/images/team.svg" class="icon-home"></ion-icon>
          </ion-card-header>
          <span class="title-button">Clients</span>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="card-button" routerLink="/order">
          <ion-card-header class="card-header">
            <ion-icon src="assets/images/ecommerce.svg" class="icon-home"></ion-icon>
          </ion-card-header>
          <span class="title-button">Commandes</span>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card class="card-button" routerLink="/profil">
          <ion-card-header class="card-header">
            <ion-icon src="assets/images/user (1).svg" class="icon-home"></ion-icon>
          </ion-card-header>
          <span class="title-button">Profil</span>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>